.GroceryListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #AC8ADF;
  width: 165px;
}
.GroceryListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #AC8ADF;
  color: #FFF;
  border: 2px solid #8045D9;
}
.GroceryListMain .header button:hover {
  background-color: #351D59;
  border: 2px solid #6336A8;
  cursor: pointer;
}
.GroceryListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
} 
ul.theList {
  padding: 0;
}
.GroceryListMain .theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color .2s ease-out;
}
.GroceryListMain .theList li:hover {
    background-color: #8045D9;
    cursor: pointer;
}
