body {
    padding: 50px;
    background-color: #453759;
    font-family: sans-serif;
    color: #fff;
    
  }
  #container {
    display: flex;
    justify-content: center;
  }
h1 {
  text-align:center;
}
h2 {
  text-align:center;
}